<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>110203</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>
	<div class="container-fluid center">
		<div class="row search-card">
			<div class="col-md-12">
				<h2 style="margin-top: 2%; margin-bottom: 2%; font-weight: 600;">搜尋結果</h2>
			</div>
			<% for(var i=0; i<items.length; i++) {%>
			<div class="col-md-4 result">
				<div class="image-text-overlay">
					<img src="<%= items[i].gImage2D %>">
					
					<div class="text-block">
						<h4><%= items[i].gName %></h4>
						<p>展覽編號 <%= items[i].eNo %></p>
						<p>數量 <%= items[i].gAmount %></p>
						<a class="btn" href="/updateGoods/<%= items[i].gNo %>">修改 »</a>
					</div>
				</div>
			</div>
			<% } %> 
		</div>
	</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>