<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>110203</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
        <div class="row center">
          <div class="col-md-12 d-flex align-items-center min-vh-100 py-3 py-md-0">
            <div class="container">
              <div class="card login-card">
                <div class="row no-gutters">
                  <div class="col-md-12 card-body tab-content">
                    <form role="form" enctype="multipart/form-data" action="/updateG" method="POST">
                      <div class="form-group">  
                        <h2>更新商品</h2>                        
                        <label for="exampleInputEmail1">
                          物品編號
                        </label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name='gNo' value="<%= items.gNo %>"  readonly>
                      </div>
					  
					            <div class="form-group">					 
                        <label for="exampleInputPassword1">
                         展覽編號
                        </label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name='eNo' value="<%= items.eNo %>" readonly>
					            </div>
			
                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          商品名稱
                        </label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name='gName'value="<%= items.gName %>" require>
                      </div>
              
                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          商品簡介
                        </label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name='introdution'value="<%= items.introdution %>"require>
                      </div>
              
                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          2D圖片
						            </label>
						            <img style="width: 500px;padding: 10px 30px 10px 20px; margin: 10px;" src="/file/<%= items.gImage2D %>"/>
                        <input type="file" class="form-control-file" id="exampleInputFile" name='gImage2D'>
                      </div>
              
                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          3D圖片
                        </label>
                        <input type="file" class="form-control-file" id="exampleInputFile" name='gImage3D'>
                      </div>
              
                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          語音檔
                        </label>
                        <input type="file" class="form-control-file" id="exampleInputFile" name='voice' >
                      </div>
              
                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          商品數量
                        </label>
                        <input type="text" class="form-control" id="exampleInputPassword1"  name='gAmount'value="<%= items.gAmount %>"require>
					            </div>

                      <div class="form-group">					 
                          <label for="exampleInputPassword1">
                            商品價錢
                          </label>
                          <input type="text" class="form-control" id="exampleInputPassword1"   name='price'value="<%= items.price %>"require>
                      </div>

                      <div class="form-group">					 
                        <label for="exampleInputPassword1">
                          商品狀態
                        </label>
                        <input type="text" class="form-control" id="exampleInputPassword1"   name='gDelete'value="<%= items.gDelete %>"require>
                      </div>

                      <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="submit">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>